* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(159, 152, 152);
    padding: 20px;
    height: 50px;
    color: white;
}

.logo{
    width: 50px;
    height: 50px;
}

.Basket-logo{
    width: 47px;
    height: 30px;
}


body {
  background: #f5f5f5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}



.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}

.product-card {
    width: 400px;
    height: 450px;
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
}

.product-card img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}

.product-title {
  font-size: 18px;
  margin-bottom: 8px;
}

.product-description {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.product-rating {
  margin-bottom: 6px;
}

.product-price {
  font-weight: bold;
  margin-bottom: 10px;
}

.btn {
  margin-top: auto;
  padding: 10px;
  background: #ff6b00;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}



.header {
    width: 100%;
    height: 80px;
    margin-top: 20px;
    gap: 5px;
}
.cart-list {
  list-style: none;
  padding: 0;
}

.cart-list li {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.cart-info {
  display: flex;
  justify-content: space-around;
  background: #fff;
  padding: 15px;
  margin-top: 20px;
  gap: 20px;
}
